---
layout: default
---

{% include header.html %}
{% include sidebar.html %}
<div class="main">
    <h2>About me:</h2>

    <p>Hey my name is Tytus, and I'm a recent Chemical Sciences graduate from Trinity College Dublin. During my
        undergraduate degree, I specialized in medicinal chemistry, while also gaining experience in disciplines
        across organic and inorganic chemistry, microbiology, and physics.</p>
    <p>Aside from my formal training in chemistry, I am a python programmer, and have been developing my skills in
        web development, data processing, and building IoT devices.</p>
    <p>Since graduating, I've been exploring the applications of Python in chemistry, with a particular interest in
        the growing use of machine learning in drug discovery.</p>

    <p>Email: <a href="mailto:Tytus@Tytus.me">Tytus@Tytus.me</a></p>

    <div class="cvdiv">
        <img src="./file-text.svg">
        <a href="https://www.dropbox.com/scl/fi/tf39bqdfqyporih7e84om/Tytus-Walkowiak-CV.pdf?rlkey=zn9lb0jpa21amlmn1fj91dbws&st=f26qmtiq&dl=1"
            target="_blank">Download my CV (PDF)</a>
    </div>

</div>

<div class="experience">
    <h2>Education & Experience:</h2>

    <div class="resume-grid">
        <div class="date"><time>2022 - 2026</time></div>
        <div class="entry">
            <h3>B.A Chemical Sciences (Mod.) Medicinal Chemistry - Trinity College Dublin</h3>
            <ul>
                <li>
                    <p>Developed strong proficiency across a broad range of topics in organic, inorganic, and
                        medicinal chemistry as well as chemical biology and physics.</p>
                </li>
                <li>
                    <p>Acquired a range of laboratory skills through extensive practical coursework, including
                        synthesis, sample preparation, analytical testing, instrument operation, and scientific
                        documentation.</p>
                </li>
                <li>
                    <p>Achieved an overall grade of First Class Honours.</p>
                </li>
            </ul>
        </div>
        <div class="date"><time>2016 - 2022</time></div>
        <div class="entry">
            <h3>St. Joseph's Secondary School, Drogheda</h3>
            <ul>
                <li>
                    <p>Achieved the Meitheal award in 2019, academic achievement awards in years 2020 & 2021.</p>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="resume-grid">
        <div class="date"><time>Jul 2026</time></div>
        <div class="entry">
            <h3>Volunteer Conference Assistant - EuroPython Kraków</h3>
            <ul>
                <li>
                    <p>Managed participant registration & ticketing, event room logistics, participant
                        wayfinding, directed foot traffic and assisted with sponsor booth set-up.</p>
                </li>
                <li>
                    <p>Liaised with conference organizers, speakers, technical and venue staff to support
                        seamless event operation, and resolved any issues that arose.</p>
                </li>
            </ul>
        </div>
        <div class="date"><time>Sep - Dec 2026</time></div>
        <div class="entry">
            <h3>Undergraduate Researcher - Gunnlaugsson Group</h3>
            <ul>
                <li>
                    <p>Performed organic synthesis, purification, and spectroscopic analysis while adhering to
                        project deadlines, and safety protocols.</p>
                </li>
                <li>
                    <p>Interpreted analytical data, maintained detailed experimental records, and refined synthetic
                        methods to maximise product yield and purity.</p>
                </li>
                <li>
                    <p>Researched supramolecular interactions between ligands and lanthanide metal ions, presenting
                        results in a formal research defence.</p>
                </li>
            </ul>
        </div>
        <div class="date"><time>May - Aug 2024</time></div>
        <div class="entry">
            <h3>Construction Site Labourer</h3>
            <ul>
                <li>
                    <p>Carried out tasks as appointed by the supervisor.</p>
                </li>
                <li>
                    <p>Installed timber stud framing, installation, ducting, electrical cabling, plasterboard, and
                        internal finishes on a residential construction project.</p>
                </li>
            </ul>
        </div>
        <div class="date"><time>Jul - Aug 2021</time></div>
        <div class="entry">
            <h3>Summer Camp Leader - H₂O Mała Akademia Sportu</h3>
            <ul>
                <li>
                    <p>Supervised, mentored and participated in activities with campers of ages 12-18.</p>
                </li>
                <li>
                    <p>Introduced campers to boat handling and operation, knots, safety rules, and taught sailing
                        theory classes.</p>
                </li>
            </ul>
        </div>
    </div>
</div>