---
layout: default
---

{% include header.html %}
{% include sidebar.html %}
<div class="main">
    <h2>About me:</h2>

    <p>Hey my name is Tytus, and I'm a recent Chemical Sciences graduate from Trinity College Dublin. During my
        undergraduate degree, I specialized in medicinal chemistry, while also gaining experience in disciplines
        across organic and inorganic chemistry, microbiology, and physics.</p>
    <p>Aside from my formal training in chemistry, I am a python programmer, and have been developing my skills in
        cheminformatics, web development, data processing.</p>
    <p>Since graduating, I've been exploring the applications of Python in chemistry, with a particular interest in
        the growing use of machine learning in drug discovery.</p>
    <p>I am currently seeking a laboratory-based role or internship where I can apply my experience and develop new practical skills.</p>

    <ul>
        <li>
            <p><a href="mailto:Tytus@Tytus.me">Tytus@Tytus.me</a></p>
        </li>
        <li>
            <p><a href="https://www.linkedin.com/in/tytusw/">LinkedIn</a></p>
        </li>
        <li>
            <p><a href="https://www.dropbox.com/scl/fi/tf39bqdfqyporih7e84om/Tytus-Walkowiak-CV.pdf?rlkey=zn9lb0jpa21amlmn1fj91dbws&st=f26qmtiq&dl=1"
                    target="_blank">CV (Last updated 2026)</a></p>
        </li>
    </ul>

</div>