---
layout: default
---
{% include header.html %}

<div class="post-list">

  {% for post in site.posts %}
    <a class="post-card" href="{{ post.url | relative_url }}">

      <div class="post-thumb">
        {% if post.preview_image %}
          <img src="{{ post.preview_image | relative_url }}" alt="">
        {% endif %}
      </div>

      <div class="post-card-content">
        <h2>{{ post.title }}</h2>

        <p class="post-date">
          {{ post.date | date: "%d %B %Y" }}
        </p>

        {% if post.description %}
          <p>{{ post.description }}</p>
        {% endif %}
      </div>

    </a>
  {% endfor %}

</div>
