<header>
    <div class="header-main">
        <div class="nametag">
            <h1>Tytus Walkowiak</h1>
            <h3>Medicinal Chemistry Graduate</h3>
        </div>
    <img class="headshot" src="{{ '/headshot low.jpg' | relative_url }}" alt="Tytus Walkowiak">

    </div>

    <nav class="navbar">
        <ul>
            <li><a class="{% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">Home</a></li>
            <li><a class="{% if page.url == '/projects/' %}active{% endif %}" href="{{ '/projects/' | relative_url }}">Projects</a></li>
        </ul>
        <hr>
    </nav>
</header>
